$color-primary: #f1f4f7;
$color-secondary: #36454F;
$color-navText: #cedce4;
$color-logo: #5596bb;
$color-pageHeader: #60666b;
$color-boxShadow: rgba(0, 0, 0, .9);

$body-font: 'Kufam', cursive;
$secondary-font: 'Montserrat', sans-serif;

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $color-primary;
}

.topbar {
  display: flex;
}

.logo {
  background-color: $color-secondary;
  border-bottom: 1px solid $color-navText;
  height: 3.49rem;
}

.logo h3 {
  color: $color-logo;
  width: 13.5rem;
}

.search {
  margin-left: 1.288rem;
}

.navbar-nav {
  margin-right: .2rem;
}

.sidenav {
  display: block;
  padding-top: 1.9rem;
  position: fixed;
  width: 14.5rem;
  height: 100%;
  overflow: scroll;
  background-color: $color-secondary;
  color: $color-navText;
  z-index: 1;
}

#left-side-menu-container ul li {
  list-style: none;
  margin-top: 1.2rem;
  margin-left: 1rem;
  font-family: $secondary-font;
}

#left-side-menu-container ul li a {
  color: $color-navText;
}

.nav-header {
  margin: 1.5rem 0 0;
  font-family: $body-font;
}

.menu-item {
  margin-left: 0;
}

.submenu-item {
  margin-left: 0;
}

.page-header-container {
  color: $color-pageHeader;
  margin: 1rem 0 1rem;
  padding-top: 3rem;
}

#content {
  margin: 1rem 1.5rem 0 16.5rem;
  display: block;
}

.card-title {
  color: $color-pageHeader;
}

.project-top-cards {
  max-height: 10rem;
  margin-bottom: 1rem;
}

.projectsIcon {
  font-size: 2rem;
}

.projectsNumber {
  color: $color-pageHeader;
}

.trending-up {
  color: green;
}

.trending-down {
  color: red;
}

.taskTable {
  overflow-x: scroll;
}

.tableSubTitle {
  font-size: 11px;
}

.card-header {
  font-size: 16px;
  box-shadow: $color-boxShadow;
  background: linear-gradient(to right, #fff, rgb(230, 228, 228));
}

.activityTable td {
  padding: 1rem; 
  overflow-x: scroll;
}

.profilePic {
  border-radius: 50%;
  margin-top: 1rem;
}

.yourCalendar {
  overflow-x: scroll;
}

.calTitle {
  display: flex;
}

.yourCalendar td{
  font-size: 1.5rem;
  border: .02rem solid #cedce4;

}

@media screen and (max-width: 375px) {
  .logo {
    display: none;
  }
  #content {
    margin: 0 1.3rem 0 1rem;
  }
  .project-top-card {
    margin: 0px !important;
    border: none;
  }
  .projectCard {
    margin-top: 23rem;
  }
  .statusText {
    font-size: 4vw;
  }
  .taskTable {
    margin-top: 1rem;
  }
  .yourCalendar {
    margin-top: 1rem;  
  }
}